      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" height="80"></img></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/thv">THV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/editio">Encoding</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mathRec">Reconstructing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/student">Students' projects</a>
              </li>
              <!-- to be transferred
              <li class="nav-item">
                <div class="dropdown nav-link btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Images
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/dis/colPrior">Collectio Prior</a>
                    <a class="dropdown-item" href="/dis/colAltera">Collectio Altera</a>
                    <a class="dropdown-item" href="/dis/Davy">Apographs H. Davy</a>
                  </div>
                </div>
              </li>Navbar-->
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://cispe.org/"><span style="padding-right:3px; padding-top: 3px; display:inline-block;"><img class="manImg" src="images/CISPE_logo_small.png" alt="CISPE"></img></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://epikur-wuerzburg.de"><span style="padding-right:3px; padding-top: 3px; display:inline-block;"><img class="manImg" src="images/cropped-logo_sq-32x32_inv.png" alt="WÜ-EZ"></img></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/HolgerEssler"><i class="fa fa-github" style="font-size:24px"></i></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="mailto:holger.essler@gmail.com"><i class="fa fa-envelope" style="font-size:24px"></i></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
